In [1]:
import pandas as pd

In [3]:
pd.read_csv("test.csv").head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [4]:
df = pd.read_csv("test.csv")

In [5]:
df.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal

In [6]:
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
df1 = df.head(100)

In [9]:
### Store data into csv format
df1.to_csv("House_Test_Data.csv")

In [10]:
pwd()

'D:\\Sachin\\Courses\\FullStack Data Science'

In [13]:
import os

In [15]:
os.listdir()

['.ipynb_checkpoints',
 '19.2.MySQL',
 '19.2.MySQL.7z',
 'addition.py',
 'Assignments',
 'carbon_nanotubes.csv',
 'DEBUGGING.ipynb',
 'House_Test_Data.csv',
 'Introduction to MySQL (5).docx',
 'Logging',
 'Logging and Debugging.ipynb',
 'Modules and Exception.ipynb',
 'MongoDB',
 'OOPs.ipynb',
 'OOPs.log',
 'Pandas_1.ipynb',
 'Test',
 'test.csv',
 'test.log',
 'test.py',
 'test.txt',
 'test1',
 'test1.log',
 'test1.py',
 'test2.py',
 'test3.log',
 'test5.log',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 '__pycache__']

In [180]:
pd.read_csv("House_Test_Data.csv").tail()

,Unnamed: 0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
95,95,1556,50,RL,72.0,10632,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,1,2010,COD,Normal
96,96,1557,190,RL,60.0,9900,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,2,2010,ConLD,Normal
97,97,1558,50,RL,65.0,6001,Pave,NaN,IR1,Bnk,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
98,98,1559,70,C (all),NaN,6449,Pave,NaN,IR1,Lvl,...,0,0,NaN,NaN,NaN,0,3,2010,WD,Abnorml
99,99,1560,190,RH,60.0,6048,Pave,NaN,Reg,Lvl,...,0,0,NaN,NaN,NaN,0,6,2010,COD,Normal

In [182]:
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [183]:
df2 = pd.read_csv("carbon_nanotubes.csv")

In [184]:
df2.head()

                                                    Chiral indice n;Chiral indice m;Initial atomic coordinate u;Initial atomic coordinate v;Initial atomic coordinate w;Calculated atomic coordinates u';Calculated atomic coordinates v';Calculated atomic coordinates w'
2;1;0 679005;0 701318;0 017033;0 721039;0 730232;0                                            17014.0
      717298;0 642129;0 231319;0 738414;0 65675;0                                            232369.0
      489336;0 303751;0 088462;0 477676;0 263221;0                                            88712.0
      413957;0 632996;0 040843;0 408823;0 657897;0                                            39796.0
      334292;0 543401;0 15989;0  303349;0 558807;0                                           157373.0

In [185]:
df2 = pd.read_csv("carbon_nanotubes.csv",sep=";") ##here the seprator is ;
df2.head()

,Chiral indice n,Chiral indice m,Initial atomic coordinate u,Initial atomic coordinate v,Initial atomic coordinate w,Calculated atomic coordinates u',Calculated atomic coordinates v',Calculated atomic coordinates w'
0,2,1,"0,679005","0,701318","0,017033","0,721039","0,730232","0,017014"
1,2,1,"0,717298","0,642129","0,231319","0,738414","0,65675","0,232369"
2,2,1,"0,489336","0,303751","0,088462","0,477676","0,263221","0,088712"
3,2,1,"0,413957","0,632996","0,040843","0,408823","0,657897","0,039796"
4,2,1,"0,334292","0,543401","0,15989","0,303349","0,558807","0,157373"

In [23]:
### don't consider 1st record as header
df3 = pd.read_csv("test.csv",header=None)

In [24]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
1,1461,20,RH,80,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
2,1462,20,RL,81,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
3,1463,60,RL,74,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
4,1464,60,RL,78,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal

In [186]:
## skip particular rows
df3 = pd.read_csv("test.csv",header=None,skiprows=[0,4,15,17,1457])
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,70,71,72,73,74,75,76,77,78,79
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
4,1466,60,RL,75.0,10000,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2010,WD,Normal

In [187]:
### na_value
## wherever it will find 20 and 60 it will convert it to NaN
df3 = pd.read_csv("test.csv",na_values=[20,60])
df3.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,NaN,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,NaN,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,NaN,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,NaN,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120.0,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [34]:
df3 = pd.read_csv("test.csv")
df3.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal

In [35]:
df3.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
count,1459.000000,1459.000000,1232.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1444.000000,1458.000000,...,1458.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000,1459.000000
mean,2190.000000,57.378341,68.580357,9819.161069,6.078821,5.553804,1971.357779,1983.662783,100.709141,439.203704,...,472.768861,93.174777,48.313914,24.243317,1.794380,17.064428,1.744345,58.167923,6.104181,2007.769705
std,421.321334,42.746880,22.376841,4955.517327,1.436812,1.113740,30.390071,21.130467,177.625900,455.268042,...,217.048611,127.744882,68.883364,67.227765,20.207842,56.609763,30.491646,630.806978,2.722432,1.301740
min,1461.000000,20.000000,21.000000,1470.000000,1.000000,1.000000,1879.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000
25%,1825.500000,20.000000,58.000000,7391.000000,5.000000,5.000000,1953.000000,1963.000000,0.000000,0.000000,...,318.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000
50%,2190.000000,50.000000,67.000000,9399.000000,6.000000,5.000000,1973.000000,1992.000000,0.000000,350.500000,...,480.000000,0.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000
75%,2554.500000,70.000000,80.000000,11517.500000,7.000000,6.000000,2001.000000,2004.000000,164.000000,753.500000,...,576.000000,168.000000,72.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000
max,2919.000000,190.000000,200.000000,56600.000000,10.000000,9.000000,2010.000000,2010.000000,1290.000000,4010.000000,...,1488.000000,1424.000000,742.000000,1012.000000,360.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000

In [36]:
df3.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
Length: 80, dtype: object

In [37]:
type(df3.dtypes)

pandas.core.series.Series

In [42]:
df1.to_csv("result.csv")

In [190]:
df2 = pd.read_csv("result.csv")
df2.head(3)

  Id#MSSubClass#MSZoning#LotFrontage#LotArea#Street#Alley#LotShape#LandContour#Utilities#LotConfig#LandSlope#Neighborhood#Condition1#Condition2#BldgType#HouseStyle#OverallQual#OverallCond#YearBuilt#YearRemodAdd#RoofStyle#RoofMatl#Exterior1st#Exterior2nd#MasVnrType#MasVnrArea#ExterQual#ExterCond#Foundation#BsmtQual#BsmtCond#BsmtExposure#BsmtFinType1#BsmtFinSF1#BsmtFinType2#BsmtFinSF2#BsmtUnfSF#TotalBsmtSF#Heating#HeatingQC#CentralAir#Electrical#1stFlrSF#2ndFlrSF#LowQualFinSF#GrLivArea#BsmtFullBath#BsmtHalfBath#FullBath#HalfBath#BedroomAbvGr#KitchenAbvGr#KitchenQual#TotRmsAbvGrd#Functional#Fireplaces#FireplaceQu#GarageType#GarageYrBlt#GarageFinish#GarageCars#GarageArea#GarageQual#GarageCond#PavedDrive#WoodDeckSF#OpenPorchSF#EnclosedPorch#3SsnPorch#ScreenPorch#PoolArea#PoolQC#Fence#MiscFeature#MiscVal#MoSold#YrSold#SaleType#SaleCondition
0  1461#20#RH#80.0#11622#Pave##Reg#Lvl#AllPub#Ins...
1  1462#20#RL#81.0#14267#Pave##IR1#Lvl#AllPub#Cor...
2  1463#60#RL#74.0#13830#Pave##IR1#Lvl#AllPub#Ins...

In [193]:
## now I want to store data in csv but donr't want Unnamed:0 column
df1.to_csv("result.csv",index=False)

In [195]:
df2 = pd.read_csv("result.csv")
df2.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [196]:
# now I don't want index xcol and headers
df1.to_csv("result.csv",index=False,header=None)

In [197]:
df2 = pd.read_csv("result.csv")
df2.head(2)

,1461,20,RH,80.0,11622,Pave,Unnamed: 6,Reg,Lvl,AllPub,...,120,0.7,Unnamed: 72,MnPrv,Unnamed: 74,0.8,6.1,2010,WD,Normal
0,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
1,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal

In [198]:
##seperate data with # rather than ,

df1.to_csv("result.csv",index=False,sep="#")

In [199]:
df2 = pd.read_csv("result.csv")
df2.head(2)

  Id#MSSubClass#MSZoning#LotFrontage#LotArea#Street#Alley#LotShape#LandContour#Utilities#LotConfig#LandSlope#Neighborhood#Condition1#Condition2#BldgType#HouseStyle#OverallQual#OverallCond#YearBuilt#YearRemodAdd#RoofStyle#RoofMatl#Exterior1st#Exterior2nd#MasVnrType#MasVnrArea#ExterQual#ExterCond#Foundation#BsmtQual#BsmtCond#BsmtExposure#BsmtFinType1#BsmtFinSF1#BsmtFinType2#BsmtFinSF2#BsmtUnfSF#TotalBsmtSF#Heating#HeatingQC#CentralAir#Electrical#1stFlrSF#2ndFlrSF#LowQualFinSF#GrLivArea#BsmtFullBath#BsmtHalfBath#FullBath#HalfBath#BedroomAbvGr#KitchenAbvGr#KitchenQual#TotRmsAbvGrd#Functional#Fireplaces#FireplaceQu#GarageType#GarageYrBlt#GarageFinish#GarageCars#GarageArea#GarageQual#GarageCond#PavedDrive#WoodDeckSF#OpenPorchSF#EnclosedPorch#3SsnPorch#ScreenPorch#PoolArea#PoolQC#Fence#MiscFeature#MiscVal#MoSold#YrSold#SaleType#SaleCondition
0  1461#20#RH#80.0#11622#Pave##Reg#Lvl#AllPub#Ins...
1  1462#20#RL#81.0#14267#Pave##IR1#Lvl#AllPub#Cor...

In [200]:
df2 = pd.read_csv("result.csv",sep="#")
df2.head(2)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal

In [201]:
###store particular columns
df1.to_csv("result3.csv",columns=["Id","MSZoning"],index=False)

In [202]:
df2 = pd.read_csv("result3.csv")
df2.head(2)

     Id MSZoning
0  1461       RH
1  1462       RL

In [58]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [59]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [60]:
### slect particular columns
df['Id']

0       1461
1       1462
2       1463
3       1464
4       1465
        ...
1454    2915
1455    2916
1456    2917
1457    2918
1458    2919
Name: Id, Length: 1459, dtype: int64

In [61]:
type(df['Id'])

pandas.core.series.Series

In [203]:
df[['Id']].head(3)

     Id
0  1461
1  1462
2  1463

In [204]:
type(df[['Id']])

pandas.core.frame.DataFrame

In [205]:
df[['Id', 'MSSubClass', 'MSZoning']].tail(3)

        Id  MSSubClass MSZoning
1456  2917          20       RL
1457  2918          85       RL
1458  2919          60       RL

In [206]:
pd.read_excel("LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx").head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
### read data from different sheet
df2 = pd.read_excel("LUSID Excel - Business Agility - Making Simple Changes Quickly & Easily.xlsx",sheet_name = "Add your take on balances")

In [208]:
df2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [209]:
df2.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12'],
      dtype='object')

In [210]:
### read from webpages

url = "https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool"
df2 = pd.read_html(url)

In [211]:
type(df2)

list

In [212]:
df2[0]

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Per 36 Minutes  \
              Season                Age                 Lg             FG
0            2022-23                 33                NBA            6.6

                                  ...                                Shooting  \
    FGA   3P  3PA   FT  FTA  ORB  ...  AST  STL  BLK  TOV   PF   PTS      FG%
0  13.3  1.5  4.3  1.6  2.2  2.5  ...  2.3  0.5  1.4  1.9  3.7  16.3    0.496

               Unnamed: 20_level_0
    3P%    FT%               WS/48
0  0.36  0.751               0.125

[1 rows x 21 columns]

In [213]:
len(df2)

7

In [214]:
df2[1].head()

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),...,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2

In [215]:
df2[2].head(2)

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2009-10,20.0,OKC,NBA,PF,6.0,0.0,25.5,3.3,5.8,...,0.700,2.2,4.3,6.5,0.3,0.3,2.0,1.0,3.2,7.8
1,2010-11,21.0,OKC,NBA,PF,17.0,17.0,28.8,3.9,8.5,...,0.825,2.8,4.5,7.3,0.2,0.2,3.1,1.2,3.8,9.8

In [216]:
df2[1].to_csv("PLayers_NBA.csv",index=None)

In [217]:
df4 = pd.read_csv("PLayers_NBA.csv")

In [218]:
df4.head()

,Season,Age,Tm,Lg,Pos,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),...,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,...,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,...,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,...,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,...,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2

In [219]:
df5 = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [220]:
df5.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [221]:
s = '''{
"name":"Sachin",
"phone_no": 123456,
"comp":["HCL","NordSecurity", "Revolut", "Google","Microsoft"]
}
'''

In [222]:
import json

In [223]:
s1 = json.loads(s)

In [224]:
s1

{'name': 'Sachin',
 'phone_no': 123456,
 'comp': ['HCL', 'NordSecurity', 'Revolut', 'Google', 'Microsoft']}

In [225]:
type(s1)

dict

In [226]:
##covert this dataset to dataframe
pd.DataFrame(s1)

     name  phone_no          comp
0  Sachin    123456           HCL
1  Sachin    123456  NordSecurity
2  Sachin    123456       Revolut
3  Sachin    123456        Google
4  Sachin    123456     Microsoft

In [227]:
pd.DataFrame(s1,columns=['comp'])

           comp
0           HCL
1  NordSecurity
2       Revolut
3        Google
4     Microsoft

In [228]:
import requests

In [229]:
res = requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [230]:
res

In [231]:
js = res.json()

In [232]:
type(js)

list

In [233]:
js[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47862',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47862/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47862/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47862/events',
 'html_url': 'https://github.com/pandas-dev/pandas/issues/47862',
 'id': 1318132972,
 'node_id': 'I_kwDOAA0YD85OkRzs',
 'number': 47862,
 'title': 'BUG or DOCS:  Is pd.value_counts() public?  If yes, it needs docs.  If not, it should not get exported.',
 'user': {'login': 'Dr-Irv',
  'id': 15113894,
  'node_id': 'MDQ6VXNlcjE1MTEzODk0',
  'avatar_url': 'https://avatars.githubusercontent.com/u/15113894?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/Dr-Irv',
  'html_url': 'https://github.com/Dr-Irv',
  'followers_url': 'https://api.github.com/users/Dr-Irv/followers',
  'following_url': 'https://api.github.com/users/Dr-Irv/following{/other_user}',
  'gists_url': 'https://api.github.com/users/Dr-Irv/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/Dr-Irv/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/Dr-Irv/subscriptions',
  'organizations_url': 'https://api.github.com/users/Dr-Irv/orgs',
  'repos_url': 'https://api.github.com/users/Dr-Irv/repos',
  'events_url': 'https://api.github.com/users/Dr-Irv/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/Dr-Irv/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [{'id': 76811,
   'node_id': 'MDU6TGFiZWw3NjgxMQ==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
   'name': 'Bug',
   'color': 'e10c02',
   'default': False,
   'description': None},
  {'id': 134699,
   'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
   'name': 'Docs',
   'color': '3465A4',
   'default': False,
   'description': None},
  {'id': 57296398,
   'node_id': 'MDU6TGFiZWw1NzI5NjM5OA==',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Algos',
   'name': 'Algos',
   'color': 'eb6420',
   'default': False,
   'description': 'Non-arithmetic algos: value_counts, factorize, sorting, isin, clip, shift, diff'},
  {'id': 1954720290,
   'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
   'name': 'Needs Triage',
   'color': '0052cc',
   'default': False,
   'description': 'Issue that has not been reviewed by a pandas team member'}],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2022-07-26T11:56:13Z',
 'updated_at': '2022-07-26T11:56:44Z',
 'closed_at': None,
 'author_association': 'CONTRIBUTOR',
 'active_lock_reason': None,
 'body': '### Pandas version checks\n\n- [X] I have checked that this issue has not already been reported.\n\n- [X] I have confirmed this bug exists on the [latest version](https://pandas.pydata.org/docs/whatsnew/index.html) of pandas.\n\n- [X] I have confirmed this bug exists on the main branch of pandas.\n\n\n### Reproducible Example\n\n```python\nimport pandas as pd\r\npd.value_counts([1,2,3,2,1])\n```\n\n\n### Issue Description\n\n`pd.value_counts()` works, but it does not appear in the documentation.  \r\n\r\nTwo possibilities:\r\n1. It should not be exported and is not intended to be available.\r\n2. It should be exported, and needs documentation by modifying `pandas/doc/source/reference/general_functions.rst`\r\n\r\nUncovered when cleaning up `pandas-stubs`:  https://github.com/pandas-dev/pandas-stubs/pull/170#issuecomment-1195381657\n\n### Expected Behavior\n\nUnclear!\n\n### Installed Versions\n\npandas 1.4.3 and associated docs\r\n',
 'reactions': {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47862/reactions',
  'total_count': 0,
  '+1': 0,
  '-1': 0,
  'laugh': 0,
  'hooray': 0,
  'confused': 0,
  'heart': 0,
  'rocket': 0,
  'eyes': 0},
 'timeline_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/47862/timeline',
 'performed_via_github_app': None,
 'state_reason': None}

In [234]:
js[0]['title']

'BUG or DOCS:  Is pd.value_counts() public?  If yes, it needs docs.  If not, it should not get exported.'

In [235]:
for i in range(len(js)):
    print(js[i]['title'])
    print("-----------------------------------------")

BUG or DOCS:  Is pd.value_counts() public?  If yes, it needs docs.  If not, it should not get exported.
-----------------------------------------
DOC: Plotting / Visualization without Jupyter
-----------------------------------------
Added improvements in to_datetime Error reporting message - incorrect field today/now shown in error
-----------------------------------------
ENH: DataFrame eval will not work with '"True", "False", "inf", "Inf"
-----------------------------------------
DOC: correct links of Plotly
-----------------------------------------
DOC: Links of Plotly are misspelled
-----------------------------------------
BUG: The `nanoseconds` in pd.DateOffset was ignored when add to pd.Series
-----------------------------------------
DOC/ENH: Add documentation and whatsnew entry for ArrowDtype and ArrowExtensionArray
-----------------------------------------
CLN/DOC: Remove sphinx referencing the wiki
-----------------------------------------
ENH: Adding functionality to ignore certain columns when normalizing json/dictionaries
-----------------------------------------
DEPR: args and kwargs in rolling, expanding, and ewm ops
-----------------------------------------
TYP/CLN: small cleanups from flake-pyi
-----------------------------------------
Added improvements in to_datetime Error reporting message - Outofbounds error message
-----------------------------------------
Fix styling of `DataFrame` for columns with boolean label
-----------------------------------------
DOC: Clarify sorting and order of categoricals and fix typo
-----------------------------------------
ENH: Add more "Offset aliases" to Timedelta function
-----------------------------------------
BUG: series.astype return error when a datetime64 series astype numpy.datetime64
-----------------------------------------
Faster method of normalising dictionary, allows user to select columns to ignore
-----------------------------------------
updated the code in accordance with GH24845
-----------------------------------------
BUG Fixing columns dropped from multi index in group by transform GH4â€¦
-----------------------------------------
BUG: Styling of a `DataFrame` with boolean column labels leaves out `False` and fails when adding non-numerical column
-----------------------------------------
BUG: Wrong representation of float while reading as str from csv file
-----------------------------------------
DEPR: rolling, expanding, and ewm args and kwargs
-----------------------------------------
DEPR: inplace keyword for Categorical.set_ordered, setting .categories directly
-----------------------------------------
DOC: added type annotations and tests to check for multiple warning match
-----------------------------------------
BUG: Out of bound dates can be saved to feather but not loaded
-----------------------------------------
DOC: repurpose `Styler` as a general display tool and not an HTML-CSS tool
-----------------------------------------
DOC: clarify that assert_produces_warning can take multiple warnings
-----------------------------------------
WIP warn if parsing with du_parse
-----------------------------------------
Specify that both ``by`` and ``level`` should not be specified in ``groupby`` - GH40378
-----------------------------------------

In [236]:
df5 = pd.DataFrame(js,columns=['url','id','title'])

In [237]:
df5.head()

,url,id,title
0,https://api.github.com/repos/pandas-dev/pandas...,1318132972,BUG or DOCS: Is pd.value_counts() public? If...
1,https://api.github.com/repos/pandas-dev/pandas...,1318091424,DOC: Plotting / Visualization without Jupyter
2,https://api.github.com/repos/pandas-dev/pandas...,1317996067,Added improvements in to_datetime Error report...
3,https://api.github.com/repos/pandas-dev/pandas...,1317896982,"ENH: DataFrame eval will not work with '""True""..."
4,https://api.github.com/repos/pandas-dev/pandas...,1317831077,DOC: correct links of Plotly

In [238]:
df4 = pd.DataFrame(js)

In [242]:
df4.to_csv('json_dump1.csv',index=None)

In [243]:
df6 = pd.read_csv("json_dump1.csv")

In [244]:
df6.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47862,1318132972,I_kwDOAA0YD85OkRzs,47862,BUG or DOCS: Is pd.value_counts() public? If...,...,NaN,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47861,1318091424,I_kwDOAA0YD85OkHqg,47861,DOC: Plotting / Visualization without Jupyter,...,NaN,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47860,1317996067,PR_kwDOAA0YD848GYzX,47860,Added improvements in to_datetime Error report...,...,NaN,CONTRIBUTOR,NaN,"Splitting changes from #47597, This PR aims to...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,True,{'url': 'https://api.github.com/repos/pandas-d...
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47859,1317896982,I_kwDOAA0YD85OjYMW,47859,"ENH: DataFrame eval will not work with '""True""...",...,NaN,CONTRIBUTOR,NaN,### Feature Type\r\n\r\n- [ ] Adding new funct...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47858,1317831077,PR_kwDOAA0YD848F16s,47858,DOC: correct links of Plotly,...,NaN,NONE,NaN,https://poltly.com/ -> https://plotly.com/\r\n...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,False,{'url': 'https://api.github.com/repos/pandas-d...

In [245]:
df6["user"]

0     {'login': 'Dr-Irv', 'id': 15113894, 'node_id':...
1     {'login': 'Codeberg-AsGithubAlternative-buhtz'...
2     {'login': 'dannyi96', 'id': 15380498, 'node_id...
3     {'login': 'weikhor', 'id': 36619387, 'node_id'...
4     {'login': 'CCXXXI', 'id': 25550534, 'node_id':...
5     {'login': 'CCXXXI', 'id': 25550534, 'node_id':...
6     {'login': 'seanslma', 'id': 30691708, 'node_id...
7     {'login': 'mroeschke', 'id': 10647082, 'node_i...
8     {'login': 'mroeschke', 'id': 10647082, 'node_i...
9     {'login': 'PriestlyAdejo', 'id': 108146732, 'n...
10    {'login': 'rhshadrach', 'id': 45562402, 'node_...
11    {'login': 'twoertwein', 'id': 6618166, 'node_i...
12    {'login': 'dannyi96', 'id': 15380498, 'node_id...
13    {'login': 'bherwerth', 'id': 108834862, 'node_...
14    {'login': 'StefRe', 'id': 19879328, 'node_id':...
15    {'login': 'windowshopr', 'id': 40477419, 'node...
16    {'login': 'bzhaoopenstack', 'id': 11386522, 'n...
17    {'login': 'PriestlyAdejo', 'id': 108146732, 'n...
18    {'login': 'GivyBoy', 'id': 58392771, 'node_id'...
19    {'login': 'mattB1989', 'id': 13086632, 'node_i...
20    {'login': 'bherwerth', 'id': 108834862, 'node_...
21    {'login': 'ravindrabajpai', 'id': 1445512, 'no...
22    {'login': 'rhshadrach', 'id': 45562402, 'node_...
23    {'login': 'jbrockmendel', 'id': 8078968, 'node...
24    {'login': 'shourya5', 'id': 73142986, 'node_id...
25    {'login': 'adrienpacifico', 'id': 6614121, 'no...
26    {'login': 'attack68', 'id': 24256554, 'node_id...
27    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
28    {'login': 'MarcoGorelli', 'id': 33491632, 'nod...
29    {'login': 'GivyBoy', 'id': 58392771, 'node_id'...
Name: user, dtype: object

In [246]:
js[0]['user']

{'login': 'Dr-Irv',
 'id': 15113894,
 'node_id': 'MDQ6VXNlcjE1MTEzODk0',
 'avatar_url': 'https://avatars.githubusercontent.com/u/15113894?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/Dr-Irv',
 'html_url': 'https://github.com/Dr-Irv',
 'followers_url': 'https://api.github.com/users/Dr-Irv/followers',
 'following_url': 'https://api.github.com/users/Dr-Irv/following{/other_user}',
 'gists_url': 'https://api.github.com/users/Dr-Irv/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/Dr-Irv/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/Dr-Irv/subscriptions',
 'organizations_url': 'https://api.github.com/users/Dr-Irv/orgs',
 'repos_url': 'https://api.github.com/users/Dr-Irv/repos',
 'events_url': 'https://api.github.com/users/Dr-Irv/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/Dr-Irv/received_events',
 'type': 'User',
 'site_admin': False}

In [247]:
l = []
for i in range(len(js)):
    l.append(js[i]['user'])
    
df7 = pd.DataFrame(l)

In [248]:
df7.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,Dr-Irv,15113894,MDQ6VXNlcjE1MTEzODk0,https://avatars.githubusercontent.com/u/151138...,,https://api.github.com/users/Dr-Irv,https://github.com/Dr-Irv,https://api.github.com/users/Dr-Irv/followers,https://api.github.com/users/Dr-Irv/following{...,https://api.github.com/users/Dr-Irv/gists{/gis...,https://api.github.com/users/Dr-Irv/starred{/o...,https://api.github.com/users/Dr-Irv/subscriptions,https://api.github.com/users/Dr-Irv/orgs,https://api.github.com/users/Dr-Irv/repos,https://api.github.com/users/Dr-Irv/events{/pr...,https://api.github.com/users/Dr-Irv/received_e...,User,False
1,Codeberg-AsGithubAlternative-buhtz,11861496,MDQ6VXNlcjExODYxNDk2,https://avatars.githubusercontent.com/u/118614...,,https://api.github.com/users/Codeberg-AsGithub...,https://github.com/Codeberg-AsGithubAlternativ...,https://api.github.com/users/Codeberg-AsGithub...,https://api.github.com/users/Codeberg-AsGithub...,https://api.github.com/users/Codeberg-AsGithub...,https://api.github.com/users/Codeberg-AsGithub...,https://api.github.com/users/Codeberg-AsGithub...,https://api.github.com/users/Codeberg-AsGithub...,https://api.github.com/users/Codeberg-AsGithub...,https://api.github.com/users/Codeberg-AsGithub...,https://api.github.com/users/Codeberg-AsGithub...,User,False
2,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
3,weikhor,36619387,MDQ6VXNlcjM2NjE5Mzg3,https://avatars.githubusercontent.com/u/366193...,,https://api.github.com/users/weikhor,https://github.com/weikhor,https://api.github.com/users/weikhor/followers,https://api.github.com/users/weikhor/following...,https://api.github.com/users/weikhor/gists{/gi...,https://api.github.com/users/weikhor/starred{/...,https://api.github.com/users/weikhor/subscript...,https://api.github.com/users/weikhor/orgs,https://api.github.com/users/weikhor/repos,https://api.github.com/users/weikhor/events{/p...,https://api.github.com/users/weikhor/received_...,User,False
4,CCXXXI,25550534,MDQ6VXNlcjI1NTUwNTM0,https://avatars.githubusercontent.com/u/255505...,,https://api.github.com/users/CCXXXI,https://github.com/CCXXXI,https://api.github.com/users/CCXXXI/followers,https://api.github.com/users/CCXXXI/following{...,https://api.github.com/users/CCXXXI/gists{/gis...,https://api.github.com/users/CCXXXI/starred{/o...,https://api.github.com/users/CCXXXI/subscriptions,https://api.github.com/users/CCXXXI/orgs,https://api.github.com/users/CCXXXI/repos,https://api.github.com/users/CCXXXI/events{/pr...,https://api.github.com/users/CCXXXI/received_e...,User,False

In [249]:
json_data = pd.read_json("https://api.github.com/repos/pandas-dev/pandas/issues")
data = pd.DataFrame.from_records(json_data['user'])
data.tail()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
25,adrienpacifico,6614121,MDQ6VXNlcjY2MTQxMjE=,https://avatars.githubusercontent.com/u/661412...,,https://api.github.com/users/adrienpacifico,https://github.com/adrienpacifico,https://api.github.com/users/adrienpacifico/fo...,https://api.github.com/users/adrienpacifico/fo...,https://api.github.com/users/adrienpacifico/gi...,https://api.github.com/users/adrienpacifico/st...,https://api.github.com/users/adrienpacifico/su...,https://api.github.com/users/adrienpacifico/orgs,https://api.github.com/users/adrienpacifico/repos,https://api.github.com/users/adrienpacifico/ev...,https://api.github.com/users/adrienpacifico/re...,User,False
26,attack68,24256554,MDQ6VXNlcjI0MjU2NTU0,https://avatars.githubusercontent.com/u/242565...,,https://api.github.com/users/attack68,https://github.com/attack68,https://api.github.com/users/attack68/followers,https://api.github.com/users/attack68/followin...,https://api.github.com/users/attack68/gists{/g...,https://api.github.com/users/attack68/starred{...,https://api.github.com/users/attack68/subscrip...,https://api.github.com/users/attack68/orgs,https://api.github.com/users/attack68/repos,https://api.github.com/users/attack68/events{/...,https://api.github.com/users/attack68/received...,User,False
27,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,False
28,MarcoGorelli,33491632,MDQ6VXNlcjMzNDkxNjMy,https://avatars.githubusercontent.com/u/334916...,,https://api.github.com/users/MarcoGorelli,https://github.com/MarcoGorelli,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/foll...,https://api.github.com/users/MarcoGorelli/gist...,https://api.github.com/users/MarcoGorelli/star...,https://api.github.com/users/MarcoGorelli/subs...,https://api.github.com/users/MarcoGorelli/orgs,https://api.github.com/users/MarcoGorelli/repos,https://api.github.com/users/MarcoGorelli/even...,https://api.github.com/users/MarcoGorelli/rece...,User,False
29,GivyBoy,58392771,MDQ6VXNlcjU4MzkyNzcx,https://avatars.githubusercontent.com/u/583927...,,https://api.github.com/users/GivyBoy,https://github.com/GivyBoy,https://api.github.com/users/GivyBoy/followers,https://api.github.com/users/GivyBoy/following...,https://api.github.com/users/GivyBoy/gists{/gi...,https://api.github.com/users/GivyBoy/starred{/...,https://api.github.com/users/GivyBoy/subscript...,https://api.github.com/users/GivyBoy/orgs,https://api.github.com/users/GivyBoy/repos,https://api.github.com/users/GivyBoy/events{/p...,https://api.github.com/users/GivyBoy/received_...,User,False